<nav id="footer">
  <div class="container">
    <div class="pull-left fnav">
      <p>ALL RIGHTS RESERVED. COPYRIGHT © 2018. IgniteSTEM</p>
    </div>
    <div class="pull-right fnav">
      <ul class="footer-social">
        <li><a target="_blank" href="https://www.facebook.com/igniteSTEM"><i class="fa fa-facebook"></i></a></li>
        <!-- <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
        <li><a href="#"><i class="fa fa-google-plus"></i></a></li> -->
        <li><a target="_blank" href="https://twitter.com/ignite_stem"><i class="fa fa-twitter"></i></a></li>
        <li><a target="_blank" href="https://www.flickr.com/photos/161442428@N03/albums"><i class="fa fa-flickr"></i></a></li>
      </ul>
    </div>
  </div>
</nav>
