<header class="site-header">
  <nav id="tf-menu" class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a href="#" class="pull-left"><img src="{{ "/assets/images/igniteStemLogo2.png" | prepend: site.url }}" height=40 width=32 style="padding-right: 10px; padding-top: 8px;"></a>
          <a class="navbar-brand" href="{{ site.url }}">IgniteSTEM</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ site.basurl }}/" class="page-scroll">Home</a></li>
            <li><a href="{{ site.basurl }}/resources" class="page-scroll">Resources</a></li>
            <li><a href="{{ site.basurl }}/testimonials" class="page-scroll">Testimonials</a></li>
            <li><a href="{{ site.basurl }}/photos" class="page-scroll">Photos</a></li>
            <li><a href="http://hackathons.hackinabox.tech" target="_blank" class="page-scroll">Hack-In-A-Box</a></li>
            <li><a href="mailto:kywu@princeton.edu" onclick="gtag('event', 'Contact: Header')" class="page-scroll">Contact</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
</header>
