.resources {
    &-video {
        width: 100%;
        margin: auto;
        margin-bottom: 42px;
    }

    &-header {
        width: 100%;
        text-align: center;
        margin: 30px;
    }
}
